# --- .env-sample - change filename to ".env" ---

# --- VMs via Vagrant and VirtualBox
#
#

# A suffix that expands the name of the machine in VirtualBox environment, e.g. master-1-k3s, edgeworker-1-k3s, ... 
# Excludes the Rancher-Server
VM_ALIAS_SUFFIX="-k3s"

# Vagrant Box which serves as base-image for all respective Node-type
VM_BOX_OS_RANCHERSERVER="bento/opensuse-leap-15.1"
VM_BOX_OS_MASTER="debian/bullseye64"
VM_BOX_OS_WORKER="debian/bullseye64"

RANCHERSERVER_ENABLED="false"


# Domain-name prefix ($hostname --domain). It is parameterized in all relevant (provisioning)-scripts. 
DOMAIN="ld.proto"

# --- K3s Cluster-Setup
#
#

K3S_VERSION="v1.22.1+k3s1"
K3S_CHANNEL="latest"
# The token needed to join workers to the K3s-cluster. In production, this might be a generated -hex value
K3S_TOKEN="leipzig"

# Flannel works as K3s default CNI. 
# "host-gw" is a simple backend that needs L2 connection (Ethernet) - non-secure
# "wireguard" implements L3 connection (UDP) - secure
# NOTE: wireguard is not tested yes, so leave it as "host-gw" for now
FLANNEL_BACKEND="host-gw"

# See: https://artifacthub.io/packages/helm/bitnami/metallb
# Start the IP-Range at the Rancher server
METALLB_CHART_VERSION="4.1.13"
LB_IP_RANGE="10.11.0.100-10.11.0.299"

# --- SUSE Rancher 2 server setup
#
#

# Rancher 2 version in format: v.2.x.x or "latest" or "stable"
# Tested: "latest"
RANCHER_VERSION="v2.7.0"

